@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

h2 {
  color: $medium-light-gray;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;

  @include medium-screen {
    font-size: 2rem;
  }

  @include mobile-screen {
    font-size: 1.5rem;
  }
}

.collection__header {
  gap: 8rem;
  justify-content: space-around;
  align-self: center;

  @include medium-screen {
    gap: 3rem;
  }
  @include mobile-screen {
    gap: 1rem;
  }
}

.collection__header span {
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;

  @include medium-screen {
    font-size: 1rem;
  }
  @include mobile-screen {
    font-size: 0.8rem;
  }
}

.collection__cards__container {
  max-height: 20rem;
}

.empty-collection {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  color: $medium-light-gray;
  @include medium-screen {
    margin-bottom: 2rem;
    font-size: 0.95rem;
  }

  @include mobile-screen {
    font-size: 0.8rem;
  }
}
