@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $medium-light-gray;
}

.header__title h1 {
  color: $white;
  font-weight: 500;
  letter-spacing: 0.005rem;
  font-size: 2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 0;

  @include medium-screen {
    font-size: 1.8rem;
  }

  @include mobile-screen {
    font-size: 1.4rem;
  }
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  // text-decoration: none;
  color: $white;
  font-size: 1.5rem;
  transition: all 0.5s;

  @include medium-screen {
    font-size: 1.2rem;
  }

  @include mobile-screen {
    font-size: 0.8rem;
  }
}

nav a:hover,
.selected-item {
  color: $medium-gray;
  text-decoration: underline;
}
