<app-loading #loadingModal [text]="textLoading"></app-loading>

<app-modal #tracksResultModal (submitEmitter)="closeModalAndSave()">
  <p class="modal__tracks-list__genre">
    ({{ this.curentRecommendation.musicsGenre | uppercase }})
  </p>
  <div
    class="modal__tracks-list d-flex justify-center"
    *ngFor="let track of curentRecommendation?.tracks"
  >
    <app-track-item [track]="track"></app-track-item>
  </div>
</app-modal>

<app-modal
  #errorModal
  [title]="'Warning!'"
  [btnLabel]="'CLOSE'"
  (submitEmitter)="closeErrorModal()"
>
  <div class="modal__error d-flex justify-center align-center column">
    <app-icon
      class="modal-error__icon mt-2"
      [icon]="'warning'"
      [size]="6"
    ></app-icon>
    <p class="modal-error__text">
      An error occurred while connecting to the services. Please try again. If
      the error persists, you can try providing new information.
    </p>
  </div>
</app-modal>

<app-content-container
  class="d-flex justify-center column"
  [class]="'controle-padding'"
>
  <h2 class="mb-2">What kind of music is coming?</h2>
  <p class="home__text-information mb-6">
    Would you like to receive a list of recommended songs? For this, you can
    fill in the "CITY NAME" field with the name of your favorite city, or
    provide the coordinates of a location. The recommendation will be based on
    the information you provide. It's important to remember that when filling in
    the "LATITUDE" field, you must also fill in the "LONGITUDE" field.
  </p>
  <form class="form__form-group">
    <section
      class="d-flex row form__inputs-container mb-4 align-center justify-center"
    >
      <app-input
        [title]="'CITY NAME'"
        [controlName]="'city'"
        [parentForm]="form"
        [inputValue]="f['city'].value"
      ></app-input>
      <app-input
        [title]="'lATITUDE'"
        [controlName]="'lat'"
        [parentForm]="form"
        [inputValue]="f['lat'].value"
      ></app-input>
      <app-input
        [title]="'LONGITUDE'"
        [controlName]="'lon'"
        [parentForm]="form"
        [inputValue]="f['lon'].value"
      ></app-input>
    </section>
    <section class="form__btn-container d-flex align-center justify-center">
      <app-button
        [title]="'SEARCH'"
        [isDisabled]="checkDisableBtn()"
        (clickEmitter)="handleSubmit()"
      ></app-button>
    </section>
  </form>
</app-content-container>
