$mobile-screen: 500px;
$medium-screen: 960px;
$desktop-screen: 1440px;

@mixin mobile-screen {
  @media only screen and (max-width: $mobile-screen) {
    @content;
  }
}

@mixin medium-screen {
  @media only screen and (max-width: $medium-screen) {
    @content;
  }
}

@mixin desktop-screen {
  @media only screen and (min-width: $mobile-screen) {
    @content;
  }
}