@import "../../../../styles/colors.scss";

i span {
  cursor: pointer;
}

.icon img {
  width: 1rem;
}

.size-2 {
  width: 1.4rem !important;
}

.size-6 {
  width: 6rem !important;
}

.icon__container {
  width: 2rem;
  height: 2rem;
}

.icon__container-hover:hover {
  background-color: $light-gray;
  border-radius: 50%;
}

.darkerHoover:hover {
  border-radius: 50%;
  background-color: $medium-light-gray;
}
